@charset "UTF-8";
.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4vh;
  border-radius: 0.7rem;
  background-color: #fff;
}

.main-section__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.main-section__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
}

.main-section__info__text {
  padding: 1.5%;
  font-size: 1.5rem;
}

.main-section__info__text--amount::after {
  content: " zł";
}

.main-section__info__status__value {
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
}

.main-section__info__desc-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.main-section__info__desc-container__title {
  margin-bottom: 0.5rem;
}

.main-section__info__desc-container__description {
  resize: none;
  overflow: hidden;
  font-size: 1.2rem;
  height: 13rem;
  width: 100%;
}

.main-section__info__desc-container__submit {
  padding: 0.3rem 0;
  width: 100%;
  background-color: #6f8efa;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.main-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main-section__list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem 0 2rem;
  border-bottom: solid rgba(0, 0, 0, 0.1) 0.05rem;
}

.main-section__list__item:nth-child(even) {
  background-color: #f2f2f2;
}

.main-section__list__item:nth-child(even) .main-section__list__item__value--image {
  -webkit-box-shadow: inset 0 0 2px #000;
          box-shadow: inset 0 0 2px #000;
}

.main-section__list__item__value {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 1.1rem;
  line-height: 8rem;
  overflow: hidden;
  background-color: transparent;
}

.main-section__list__item__value:nth-child(1) {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  text-align: left;
}

.main-section__list__item__value:nth-child(1), .main-section__list__item__value:nth-child(2) {
  color: #2957f7;
}

.main-section__list__item__value:nth-child(3), .main-section__list__item__value:nth-child(4) {
  color: #aaa;
}

.main-section__list__item__value:nth-child(5), .main-section__list__item__value:nth-child(6) {
  color: #f58c93;
}

.main-section__list__item__value--amount::after {
  content: " zł";
}

.main-section__list__item__value--remove {
  position: absolute;
  right: 0.5%;
  border: none;
  background-color: transparent;
  color: #000 !important;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-section__list__item__value--remove:hover {
  color: red !important;
}

.main-section__list__item__value--add {
  position: absolute;
  right: 0.5%;
  border: none;
  background-color: transparent;
  color: #000 !important;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-section__list__item__value--add:hover {
  color: green !important;
}

.main-section__list__item__value--new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__list__item__value--new:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-section__list__item__value--new:nth-child(2) {
  height: 30%;
  padding: 0.5%;
  border-bottom: green solid 2px;
}

.main-section__list__item__value--new:nth-child(3) {
  height: 2rem;
}

.main-section__list__item__value--file-container {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.main-section__list__item__value--image {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  -webkit-box-shadow: inset 0 0 6px #000;
          box-shadow: inset 0 0 6px #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}

.main-section__list__item__value__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.main-section__list__item__value__input-file {
  display: none;
}

.main-section__list__item__value__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #5858ba;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.main-section__list__item__value__label:hover {
  color: #fff;
  background-color: #f58c93;
}

.main-section__list__item__value__label__icon {
  margin-right: 1rem;
}

.main-section__list__item__value__status {
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
  -moz-appearance: none;
}

.main-section__list__item__value__status--draft {
  background-color: #f58c93;
}

.main-section__list__item__value__status--paid {
  background-color: #6f8efa;
}

.main-section__list__item:nth-last-child(1) {
  border: none;
}
/*# sourceMappingURL=mainSection.css.map */