.site-header {
  display: flex;

  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 7.5rem;
    letter-spacing: 0.1rem;
  }

  &__list {
    display: flex;
    align-items: center;

    margin-left: auto;

    &__item {
      padding: 0 0rem 0 2rem;

      &__link {
        font-size: 1rem;
        text-decoration: none;
        color: #999;

        &--button {
          padding: 0.6rem 1.5rem 0.6rem 1.5rem;
          border-radius: 0.5rem;
          background-color: #dbdbfb;
          color: #6e6eef;
        }

        &--login {
          padding: 0.6rem 1.5rem 0.6rem 1.5rem;
          box-shadow: inset 0px 0px 0px 2px #6e6eef;
          border-radius: 0.5rem;
          color: #6e6eef;
        }

        & i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
