.site-header {
  display: flex;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 7.5rem;
    letter-spacing: 0.1rem;
  }

  &__list {
    display: flex;
    align-items: center;

    margin-left: auto;

    &__item {
      padding: 0 0rem 0 2rem;

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 4vmin;
        border-radius: 0.5rem;
        padding: 0 1.2rem;

        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.04rem;
        text-decoration: none;
        color: #6e6eef;

        cursor: pointer;
        transition: 0.2s;

        &--add {
          background-color: #dbdbfb;
          border: none;

          &:hover {
            color: white;
            background-color: #6f8efa;
          }
        }

        &--login {
          background-color: transparent;
          border: none;
          padding: 0;

          &:hover {
            color: #f58c93;
          }
        }

        &__icon {
          &--add {
            margin-right: 0.5rem;
          }

          &--login {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}
