@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#root {
  display: flex;
  justify-content: center;

  width: 100vw;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  min-height: 100vh;

  font-size: 10px;

  background-color: #f5f5fd;
}

.main-content {
  // position: relative;

  display: flex;
  flex-direction: column;

  max-width: 1400px;
  padding: 0 2.8rem 2.8rem 2.8rem;
  flex-grow: 1;

  &__img {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 85%;

    z-index: -1;

    min-height: 1000px;
    height: 55vmax;
    opacity: 0.4;

    &--left {
      left: auto;
      right: 85%;
    }
  }
}
